[mysqld]
datadir=/var/lib/mysql
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
log_error=/var/log/mysql/error.log
bind-address=0.0.0.0
server-id=100
default-time-zone='+8:00'
lower_case_table_names=1
character_set_server=utf8mb4
